<p>Your request for:</p>
<p><%= @listing.name %></p>
<p><%= @booking.check_in_date %> to</p>
<p><%= @booking.check_out_date %></p>
<p>total: <%= @listing.price %></p>

<p>has been sent to...</p>

<% @bookings %>
  
