<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Makersbnb</title>
  </head>
  <body>
    <h1>List your property on casa de makersbnb</h1>
    <br>
    <form action="/makelisting" method="post">
      <input type="text" name="owner" placeholder="owner" style="width:200px">
      <br>
      <input type="text" name="date" placeholder="YYYYMMDD" style="width:200px">
      <br>
      <input type="text" name="name" placeholder="Bob Hoskins" style="width:200px">
      <br>
      <input type="text" name="description" placeholder="whats it like" style="height:200px;width:200px">
      <br>
      <input type="text" name="price" placeholder="£" style="width:200px">
      <br>
      <select  name=" bedrooms">
        <option value="1">1 bedroom</option>
        <option value="2">2 bedrooms</option>
        <option value="3">3 bedrooms</option>
        <option value="4">4 bedrooms</option>

      </select>

    </form>

  </body>
</html>
