<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link href="CSS/listings_stylesheet.css" rel="stylesheet" type="text/css" />
    <meta charset="utf-8">

    <title>Makersbnb</title>
  </head>
  <div class="hero-image">
    <div class="hero-text">

    </div>

  </div>
  <body>
    <h1>List your property on casa de makersbnb</h1>
    <br>
    <form action="/listings/new" method="post">
      <!-- <input type="text" name="owner" placeholder="owner" style="width:200px">
      <br>
      <input type="text" name="date" placeholder="YYYYMMDD" style="width:200px">
      <br> -->
      <input type="text" name="name" placeholder="the title of your listing" style="width:200px">
      <br>
      <input type="text" name="description" placeholder="what's it like" style="height:200px;width:200px">
      <br>
      <input type="text" name="price" placeholder="£" style="width:200px">
      <br>
      <select  name=" bedrooms">
        <option value="1">1 bedroom</option>
        <option value="2">2 bedrooms</option>
        <option value="3">3 bedrooms</option>
        <option value="4">4 bedrooms</option>
      </select>
      <input type="submit" value="create listing">
    </form>

  </body>
</html>
