<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <ul>
      <% @listings.each do |listing| %>
        <br>
        <li><%= listing.name %></li>
        <li><%= listing.price %></li>
        <li><%= listing.description %></li>
      <% end %>
    </ul>

  </body>
</html>
